
    body  {
        background-image: url("https://praxilabs.com/en/blog/wp-content/uploads/2025/07/Important-Physics-Equations-in-History-1.webp");
    }
    h1{
        color: aqua;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h2{
        color:aqua;
        background-color: rgb(0, 0, 0);
    }
    ul{
        color:aqua;
        background-color: black;
        list-style-type:georgian;
    }
   
    input[type ="submit"] {
        color:purple;
        background-color: aqua;
    }
    .underline {
        text-decoration:underline;
    }
    .background{
        background-color: rgb(208, 0, 255);
    }
    .section{
        background-color:burlywood;
    }
    p{
        color:aliceblue;
        background-color:blueviolet
    }