body{
    background-color: gold;
}

.eye{
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 50px;
    display: inline-block;
}

#eye1{
    margin: 40px 20px 2px;
}

#eye2{
    margin: 40px 5px 2px;
}

.pupil{
    width:50px;
    height: 50px;
    background-color: black;
}

#mouth{
    width: 450px;
    height: 400px;
    background-color: black;
    margin: 15px;
    padding: 20px 20px 2px;
}

.tooth{
    width:50px;
    height:50px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    margin: 10px 2px;
}

#tongue{
    width:250px;
    height:200px;
    background-color: red;
    margin: 125px 70px ;
    display: inline-block;
}

#dent{
    width:15px;
    height: 110px;
    background-color: black;
    position:absolute;
    top: 465px;
    left: 250px;
}